body {
    width: 60%;
    margin: auto;
    background-image: url(jogging.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

form {
    width: 100%;
    margin-right: 10px;
    color: #f1f2f2;
    padding: 70px 10% 100px 0px;
}

fieldset, legend {
    padding-left: 5px;
    padding-top: 5px;
    float: left;
    color: #f1f2f2;
}

header {
    background-color: rgba(241,242,242,0.7);
    font-size: 3em;
    text-align: center;
    padding: 5%;
    height: 150px;
    color: #eb5a5b;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    transition: 2s;
    -webkit-transition: 2s;
    margin: 0 0 20px 0;
}

.form-control {
    width: 100px;
}

input[type="radio"] {
    margin-right: 10px;
}

#cardio {
    text-align: center;
    font-size: 1.1em;
    color: #eb5a5b;
}

h2 {
    font-family: 'Gloria Hallelujah';
    background-color: rgba(235, 90, 91, 0.5);
    text-align: center;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    border-style: dashed;
    border-color: #f1f2f2;
    border-radius: 35px;
    font-size: 1.5em;
    width: 80%;
    color: #f1f2f2;
}

#calorie {
    font-size: 4em;
    margin-top: 1em;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    color: #f1f2f2;
}

#weight {
    font-size: 4em;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    color: #f1f2f2;
}

input[type="submit"] {
    background-color: #f1f2f2;
    color: #414042;
    margin: auto;
    float: right;
    clear: right;
    width: 150px;
    font-size: 2em;
    padding: 20px 0px;
}

input[type="submit"]:hover {
    background-color: #eb5a5b;
}

#reset:hover {
  background-color: #a35a5b;

}

#reset {
    margin: 45%;
    margin-top: 30px;
    background-color: #eb5a5b;
    font-weight: lighter;
    font-size: 1.5em;
}

#reset a {
    color: #f1f2f2;
}

#reset a:hover {
    text-decoration: none;
}

footer {
    float: right;
    clear: left;
    color: #f1f2f2;
    text-shadow: 0.8px 0.8px 1.5px #000000;
}
